<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
</head>
<body style="background-color: #D1C6AD;">
    <div class="topnav">
  <a  href="/">
        Home Page

    </a>

    <a href="/product">
        products

    </a>
    <a class="active" href="/cart">
        Cart
    </a>

  <input type="text" placeholder="Search..">
</div>
    <h1>Your cart</h1>
    <br>
    <br>
    <br>

    <h2>an xbox serise s, prise:300$</h2>
    <img src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4FkjX?ver=c092" width="290" height="300">
    <br>
    <br>
    <h2>an iphone 14, prise:600$</h2>
        <img src="https://www.pngmart.com/files/22/iPhone-14-PNG-Image.png" width="290" height="300">
    <br>
    <br>
    <h2>a ps5, prise:650$</h2>
    <img src="https://gmedia.playstation.com/is/image/SIEPDC/ps5-product-thumbnail-01-en-14sep21?$facebook$" width="290" height="300">

</body>
</html>