<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ebay</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
</head>

<body style="background-color: #D1C6AD;">

    <div class="topnav">
  <a class="active" href="/">
        Home Page

    </a>

    <a href="/product">
        products

    </a>
    <a  href="/cart">
        Cart
    </a>

  <input type="text" placeholder="Search..">
</div>
    <h1>elctronics shop</h1>
    <h2>Home page</h2>
    <h2>In this ebay shop we sell only electronic devices</h2>
    <br>
    <br>
    <br>
    <br>
    
    <br>
    <br>
    
    <div class="container">
  <h2>Switch bettween the items by pressing on the sides or using the arrows and press on the item to byu it</h2>  
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <a href='/product'>
          <img src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4FkjX?ver=c092" alt="Los Angeles" style="width:100%;" >
      </a>
      </div>

      <div class="item">
        <a href='/product'>
         <img src="https://www.pngmart.com/files/22/iPhone-14-PNG-Image.png" alt="Chicago" style="width:100%;">
     </a>
      </div>
    
      <div class="item">
        <a href='/product'>
        <img src="https://gmedia.playstation.com/is/image/SIEPDC/ps5-product-thumbnail-01-en-14sep21?$facebook$" alt="New york" style="width:100%;">
    </a>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

</body>
</html>


</body>
</html>