<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ebay</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
</head>

<body style="background-color: #D1C6AD;">

    <div class="topnav">
  <a class="active" href="/">
        Home Page

    </a>

    <a href="/product">
        products

    </a>
    <a  href="/cart">
        Cart
    </a>

  <input type="text" placeholder="Search..">
</div>
    <h1>elctronics shop</h1>
    <h2>Home page</h2>
    <h2>In this ebay shop we sell only electronic devices</h2>
    <br>
    <br>
    <br>
    <br>
    <h2>Here are some of the items you can buy</h2>
    <br>
    <br>
    <a href='/product'>
        <img src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4FkjX?ver=c092" width="290" height="300">
    </a>
    <a href='/product'>
        <img src="https://m.media-amazon.com/images/I/61h1v+LwkDL.jpg" width="290" height="300">
    </a>
    <a href='/product'>
        <img src="https://gmedia.playstation.com/is/image/SIEPDC/ps5-product-thumbnail-01-en-14sep21?$facebook$" width="290" height="300">
    </a>
    <a href='/product'>
        <img src="https://d3m9l0v76dty0.cloudfront.net/system/photos/5847093/original/c340b638a967a54577bf4c6caf228eab.jpg" width="290" height="300">
    </a>
    <a href='/product'>
        <img src="https://sourcing-media.hktdc.com/product-original//a90310b883914569b403e586a8d799f8.webp?width=450&height=450&mode=cover" width="290" height="300">
    </a>
    <a href='/product'>
        <img src="https://www.att.com/scmsassets/global/devices/phones/apple/apple-iphone-14-pro/carousel/deeppurple/deeppurple1.png" width="290" height="300">
    </a>


</body>
</html>