<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
</head>
<body style="background-color: #D1C6AD;">
    <div class="topnav">
  <a  href="/">
        Home Page

    </a>

    <a class="active" href="/product">
        products

    </a>
    <a  href="/cart">
        Cart
    </a>

  <input type="text" placeholder="Search..">
</div>
    <h1>Products</h1>
    <br>
    <h2>Nice choice</h2>
    <br>
    <br>
    <br>
    <br>
    <img src="https://www.att.com/scmsassets/global/devices/phones/apple/apple-iphone-14-pro/carousel/deeppurple/deeppurple1.png" width="290" height="300">
    <h3>This iphone has the best cameras and its prise is 600$</h3>


</body>
</html>
